@use "importer" as s;

.header{
    background-color: #FFF8EF;
}

.title__section{
    background-color: #FFF8EF;
    padding: 80px;
}

*{
    outline: 2px solid ;
}
.title{
    font-size: 40px;
    color: #000;
    text-align: center;
    font-weight: 500;
}

.cart{
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    padding: 30px 100px;
    gap: 50px;
}

.cart-table{
    background: #FFF8EF none repeat scroll 0 0;
    padding: 20px;
    border-radius: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    &__head{
        display: flex;
        gap: 20px;
        padding: 0px 20px;
        &-item{
            &:nth-child(1){
                width: 99px;
            }
            &:nth-child(2){
                width: 250px;
            }
            &:nth-child(3){
                width: 75px;
            }
            &:nth-child(4){
                width: 100px;
            }
            &:nth-child(5){
                width: 75px;
            }
            &:nth-child(6){
                width: 37px;
            }
        }
    }
    &__body{
        display: flex;
        flex-direction: column;
        &-product{
            padding: 0px 20px;            
            display: flex;
            border-bottom: 0.5px solid;
            align-items: center;
            gap: 20px;
            &-img{
                width: 99px;
                height: 99px;
            }
            &-name{
                width: 250px;
            }
            &-price{
                width: 75px;
            }
            &-amount{
                width: 100px;
            }
            &-total{
                width: 75px;
            }
            &-remove{
                width: 35px;
                display: inline-block;
                height: 35px;
                line-height: 35px;
                border: 1px solid #ddd;
                border-radius: 5px;
                transition: .4s;
                &:hover{
                    background-color: #FFF8EF;
                }
            }
        }
        
    }
}

.order-summury{
    background: #FFF8EF none repeat scroll 0 0;
    padding: 20px;
    border-radius: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.shipping__box{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1px solid;
}
.total__box{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1px solid;
}
.subtotal__box{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1px solid;
}